.location-meassurements-list-element {
  border-radius: 2rem;
}

.location-meassurements-list-content {
  padding-left: 1.5rem;
  margin: 1rem 0.5rem 0.5rem 1rem;
}

.location-meassurements-list-values {
  flex: 1;
  cursor: pointer;
}

.location-meassurements-list-location{
  padding-bottom: 0.5rem;
}

.location-meassurements-list-location-city {
  font-size: 1.5rem;
}

.location-meassurements-list-location-name {
  font-weight: bold;
  font-size: 1rem;
  word-break: break-word;
}

.location-meassurements-list-location-time {
  font-size: 0.75rem;
}

.location-meassurements-list-value {
  height: 5.75rem;
  width: 5.75rem;
  display: flex;
  margin: 0.25rem;
  border-radius: 50%;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.25rem gray;
  border-style: solid;
}

.location-meassurements-list-value-unit {
  font-size: 0.75rem;
  color: black;
}

.location-meassurements-list-value-pollution {
  font-size: 2em;
  font-weight: bold;
  color: black;
}

.location-meassurements-list-value-info {
  font-size: 0.5rem;
  color: black;
}

.star-component {
  padding-top: 0.5rem;
}

.star {
  cursor: pointer;
}
