<div class="location-meassurements-list-element" [ngStyle]="{'background-color': getQualityColor(locationMeassurements.meassurements[0].airQuality)}">
  <div class="row location-meassurements-list-content">
    <div class="location-meassurements-list-values" [routerLink]="['/location/', locationMeassurements.id]" [routerLinkActive]='["link-active"]'>
      <div class="row">
        <div class="location-meassurements-list-value">
          <div class="location-meassurements-list-value-content">
            <div class="location-meassurements-list-value-unit">PM 10</div>
            <div class="location-meassurements-list-value-pollution">{{locationMeassurements.meassurements[0].pm10Value | number:'1.0-1':'pl'}}</div>
            <div class="location-meassurements-list-value-info">μg/m3</div>
          </div>
        </div>
        <div class="location-meassurements-list-value">
          <div class="location-meassurements-list-value-content">
            <div class="location-meassurements-list-value-unit">PM 2.5</div>
            <div class="location-meassurements-list-value-pollution">{{locationMeassurements.meassurements[0].pm25Value | number:'1.0-1':'pl'}}</div>
            <div class="location-meassurements-list-value-info">μg/m3</div>
          </div>
        </div>
      </div>
      <div class="location-meassurements-list-location">
        <div class="location-meassurements-list-location-city">
          {{locationMeassurements.address.city}}
        </div>
        <div class="location-meassurements-list-location-name">
          {{locationMeassurements.address.street}}
        </div>
        <div class="location-meassurements-list-location-time">
          <fa-icon [icon]="['fas', 'clock']"></fa-icon> {{locationMeassurements.meassurements[0].periodTo | date:'HH:mm'}}
        </div>
      </div>
    </div>
    <div class="star-component" (click)="onClickFavourite()">
      <fa-icon class="star" [ngClass]="{'fav-checked': isFavourite, 'fav-unchecked': !isFavourite}" [icon]="['fas', 'star']" size="3x" [styles]="{'stroke': 'black'}"></fa-icon>
    </div>
  </div>
</div>
