<!--//TODO next;-->
<!--<h1>{{ currentData?.name}}</h1>
<p>Pm10: {{ currentData?.pm10Value}}</p>
<p>Pm25: {{ currentData?.pm25Value}}</p>
<p>periodTo: {{ currentData?.periodTo | date:'hh:mm'}}</p>
<table class='table table-striped' *ngIf="locationMeassurement">
  <thead>
    <tr>
      <th>pm10Value</th>
      <th>pm25Value</th>
      <th>periodTo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let locationMeassurement of locationsMeassurements">
      <td>{{ locationMeassurement.pm10Value }}</td>
      <td>{{ locationMeassurement.pm25Value }}</td>
      <td>{{ locationMeassurement.periodTo | date:'hh:mm'}}</td>
    </tr>
  </tbody>
</table>-->
