
  <h1>{{ locationMeassurements?.address.city}}</h1>
  <p>Pm10: {{ currentMeassurement?.pm10Value}}</p>
  <p>Pm25: {{ currentMeassurement?.pm25Value}}</p>
  <p>periodTo: {{ currentMeassurement?.periodTo | date:'hh:mm'}}</p>
<table class='table table-striped' *ngIf="currentMeassurement">
  <thead>
    <tr>
      <th>pm10Value</th>
      <th>pm25Value</th>
      <th>periodTo</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let meassurement of locationMeassurements.meassurements">
      <td>{{ meassurement.pm10Value }}</td>
      <td>{{ meassurement.pm25Value }}</td>
      <td>{{ meassurement.periodTo | date:'hh:mm'}}</td>
    </tr>
  </tbody>
</table>
