<div class="container">
  <h1>{{ 'legend' | translateAsync }}</h1>
  <table class="table table-bordered">
    <tr class="thead-light">
      <th scope="col">{{ 'airQuality' | translateAsync }}</th>
      <th scope="col">PM10 (μg/m3)</th>
      <th scope="col">PM2.5 (μg/m3)</th>
    </tr>
    <tr *ngFor="let airQuality of airQualities">
      <td [ngStyle]="{'background-color': getQualityColor(airQuality)}"><b>{{ getQualityText(airQuality) | translateAsync }}</b></td>
      <td>{{ getPM10Range(airQuality) }}</td>
      <td>{{ getPM25Range(airQuality) }}</td>
    </tr>
  </table>
  <p>
    {{ 'legendInfo' | translateAsync }} <a href="http://powietrze.gios.gov.pl">http://powietrze.gios.gov.pl</a>
  </p>
</div>
