.card {
  margin: 1rem auto 0.5rem auto;
}

.content {
  flex: 1 1 auto;
}

.card-body {
  display: flex;
  cursor: pointer;
}

  .card-body:hover {
    background: #f7f7f7;
  }

.status {
  width: 4rem;
  height: 4rem;
}

.circle {
  margin: 1.5rem 1rem 2rem 1rem;
  text-align: center;
  height: 2rem;
  width: 2rem;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
}

.info {
  padding-left: 1.25rem;
}


.clock-component {
  margin-top: -0.25rem;
  font-size: 0.75rem;
}

.card-footer {
  display: flex;
  background-color: initial;
  justify-content: space-between;
}

.measurements {
  display: flex;
}

.measurement-content {
  width: 4.5rem;
  margin-top: -0.25rem;
  text-align: center;
}

.measurement-name {
  font-size: 0.7rem;
}


.measurement-value {
  font-size: 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: -0.5rem;
  color: black;
}


.star {
  cursor: pointer;
}

  .star:hover {
    background: #f7f7f7;
  }
