.sensor-list {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  background-color: lightblue;
  height: 7.5rem;
  border-radius: 2rem;
  margin-bottom: 0.5rem;
  line-height: normal;
}

.sensor-list-location {
  padding: 0rem 0.5rem;
  flex: 2;
  flex-wrap: nowrap;
}

.sensor-list-location-city {
  font-size: 1.75rem;
}

.sensor-list-location-name {
  font-size: 1rem;
  word-break: break-word;
}

.sensor-list-location-time {
  font-size: 0.75rem;
}

.sensor-list-values {
  display: flex;
  flex: 2;
}

.sensor-list-value {
  height: 5.75rem;
  width: 5.75rem;
  display: flex;
  margin: 0.25rem;
  border-radius: 1rem;
  background-color: white;
  text-align: center;
  justify-content: center;
  align-items: center;
  box-shadow: 0.25rem 0.25rem 0.25rem gray;
  border-style: solid;
}

.sensor-list-value-content {
  /*display: inline-flex;*/
}

.sensor-list-value-unit {
  font-size: 0.75rem;
  /*font-weight: bold;*/
  color: white;
}

.sensor-list-value-pollution {
  font-size: 2.5em;
  font-weight: bold;
  color: white;
}

.sensor-list-value-info {
  font-size: 0.5rem;
  color: white;
}

.star {
  flex: 0.5;
  text-align: center;
}

.fav-unchecked {
  color: white;
}

.fav-checked {
  color: orange;
}

.good-quality {
  background-color: green;
}

.poor-quality {
  background-color: orange;
}

.danger-quality {
  background-color: red;
}
