<div class="container">
  <div class="jumbotron">
    <h1>{{ 'dashboard' | translateAsync }}</h1>
    <hr class="my-4">
    <a *ngIf="isSensorOwner" class="nav-link" [routerLink]='["/dashboard/sensors/my"]'>{{ 'mySensors' | translateAsync }}</a>
    <a *ngIf="isSensorOwner" class="nav-link" [routerLink]='["/dashboard/instruction"]'>{{ 'manual' | translateAsync }}</a>
    <div *ngIf="isAdmin">
      <hr class="my-4">
      <button [routerLink]='["/admin"]'>{{ 'adminPanel' | translateAsync }}</button>
    </div>
  </div>
</div>
