<div class="row">
  <div class="col-lg-3">
    <ngb-datepicker #d [(ngModel)]="currentDay" (select)="onDateSelected($event)" [maxDate]="today"></ngb-datepicker>
  </div>
  <div class="col-lg-9">
    <table *ngIf="calendarMeassurements" class="table table-bordered">
      <thead class="thead-light">
        <tr>
          <th scope="col">{{ 'dateOfMeasurement' | translateAsync }}</th>
          <th scope="col">{{ 'airQuality' | translateAsync }}</th>
          <th scope="col">{{ 'pM10Quality' | translateAsync }}</th>
          <th scope="col">{{ 'pM10Value' | translateAsync }}</th>
          <th scope="col">{{ 'pM25Quality' | translateAsync }}</th>
          <th scope="col">{{ 'pM25Value' | translateAsync }}</th>
          <th scope="col">{{ 'pM1Value' | translateAsync }}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let meassurement of calendarMeassurements">
          <td>{{meassurement.periodTo | date:'dd-MM-yyyy, HH:mm'}}</td>
          <td><b [ngStyle]="{'color': getQualityColor(meassurement?.airQuality)}">{{ getQualityText(meassurement?.airQuality) | translateAsync }}</b></td>
          <td><b [ngStyle]="{'color': getQualityColor(meassurement?.pm10Quality)}">{{ getQualityText(meassurement?.pm10Quality) | translateAsync }}</b></td>
          <td>{{meassurement.pm10Value | number:'1.0-2':'pl'}}</td>
          <td><b [ngStyle]="{'color': getQualityColor(meassurement?.pm25Quality)}">{{ getQualityText(meassurement?.pm25Quality) | translateAsync  }}</b></td>
          <td>{{meassurement.pm25Value | number:'1.0-2':'pl'}}</td>
          <td>{{meassurement.pm1Value | number:'1.0-2':'pl'}}</td>
        </tr>
      </tbody>
    </table>
    <p *ngIf="calendarMeassurements?.length === 0">{{ 'noMeasurementsOnThisDay' | translateAsync }}</p>
    <img *ngIf="loaderActive" class="loader" src="assets/spinner-200px.svg" />
  </div>
</div>
