@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.page-layout {
  flex-direction: column;
}

.sidebar {
  margin-top: 40px;
}

.sidebar-picture {
  width: 300px;
  margin: 0 auto;
}

@media (min-width: 1200px) {
  .page-layout {
    flex-direction: row;
  }

  .sidebar {
    width: 30%;
  }
}

.fav-unchecked {
  color: white;
}

.fav-checked {
  color: orange;
}

