<div class="container">
  <h1>Właściciel czujników</h1>
  <div *ngIf="sensorOwner" class="form-group">
    <div class="row">
      <label class="col-sm-2"><b>Imie</b></label>
      <div class="col-sm-10"><p>{{sensorOwner.name}}</p></div>
    </div>
    <div class="row">
      <label class="col-sm-2"><b>Adres</b></label>
      <div class="col-sm-10"><p>{{sensorOwner.address}}</p></div>
    </div>
    <div class="row">
      <label class="col-sm-2"><b>Firma</b></label>
      <div class="col-sm-10"><input type="checkbox"[checked]="sensorOwner.isCompany" disabled="disabled"/></div>
    </div>
  </div>
  <h4>Moje czujniki</h4>
  <table *ngIf="sensorOwner" class="table table-bordered">
    <thead class="thead-light">
      <tr>
        <th scope="col">Kod czujnika</th>
        <th scope="col">Prywatny</th>
        <th scope="col">Aktualna lokalizacja</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let sensor of sensorOwner.sensors">
        <td>{{sensor.code}}</td>
        <td class="text-center"><input type="checkbox" [checked]="sensor.isPrivate" disabled="disabled" /></td>
        <td class="text-center"><a [routerLink]="['/dashboard/userLocations/', sensor.activeLocationId]" [routerLinkActive]='["link-active"]'>>></a></td>
      </tr>
    </tbody>
  </table>
</div>
