@media (max-width: 767px) {
  /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
  .body-content {
    padding-top: 50px;
  }
}

.main {
  float: left;
  width: 100%;
  padding-left: 20px;
  padding-right: 20px;
}

.sidebar {
  margin-top: 40px;
  width: 100%;
  float: left;
}

.sidebar-picture {
  text-align: center;
}

@media (min-width: 992px) {
  .main {
    float: left;
    max-width: 70%;
  }

  .sidebar {
    width: 30%;
    float: right;
    height: 100%;
  }

  .sidebar-picture{
    width: 300px;
  }
}

.fav-unchecked {
  color: white;
}

.fav-checked {
  color: orange;
}

