<div class="card m-3">
  <h5 class="card-header">Zresetuj hasło</h5>
  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="onSubmit()">
      <div class="form-row">
        <div class="form-group col">
          <label>E-mail</label>
          <input type="text" formControlName="email" class="form-control" />
          <input-error [control]="form.controls.email"></input-error>
        </div>
      </div>
      <div class="text-center">
        <button class="btn btn-primary mr-1">Zresetuj hasło</button>
      </div>
    </form>
    <sub><a class="nav-link" [routerLink]='["/login"]'>Wróć do logowania</a></sub>
  </div>
</div>
